.saint-card {
    max-width: 400px;
    
    margin-bottom: 10px;
  }
  
.saint-header-image {
    background-image: url('/saintsmanagments/assets/img/saint-avatar.png');
    background-size: cover;
}